<div id="header">
  <div class="top">
    <div id="logo">
      <span class="image avatar48"><img src="/images/avatar.jpg" alt="" /></span>
      <h1 id="title">Your Name</h1>
      <p>Bioinformatician / Data Viz</p>
    </div>

    <nav id="nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Home</a></li>
        <li><a href="{{ '/about.html' | relative_url }}" {% if page.url == '/about.html' %}class="active"{% endif %}>About</a></li>
        <li><a href="{{ '/projects.html' | relative_url }}" {% if page.url == '/projects.html' %}class="active"{% endif %}>Projects</a></li>
        <li><a href="{{ '/education.html' | relative_url }}" {% if page.url == '/education.html' %}class="active"{% endif %}>Education</a></li>
        <li><a href="{{ '/skills.html' | relative_url }}" {% if page.url == '/skills.html' %}class="active"{% endif %}>Skills</a></li>
        <li><a href="{{ '/contact.html' | relative_url }}" {% if page.url == '/contact.html' %}class="active"{% endif %}>Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="bottom">
    <ul class="icons">
      <li><a href="https://twitter.com/YOUR_HANDLE" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://github.com/YOUR_GITHUB" class="icon brands fa-github"><span class="label">Github</span></a></li>
      <li><a href="https://www.linkedin.com/in/YOUR_LINKEDIN/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
      <li><a href="mailto:you@example.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
      <li><a href="https://www.researchgate.net/profile/YOUR_NAME" class="icon brands fa-researchgate"><span class="label">ResearchGate</span></a></li>
    </ul>
  </div>
</div>
